name: Run the SITs against an ephemeral application

on:
    workflow_dispatch:
        inputs:
            environment:
                type: environment
                required: false
                default: test

jobs:
    deploy-app:
      name: Deploy the application
      uses: ./.github/workflows/reusable-manage-deployment.yml
      permissions:
        id-token: write
      secrets:
        inherit
      with:
        action: apply
        environment: ${{inputs.environment}}

    execute-sit:
      name: Run the SITs against a deployed application
      uses: ./.github/workflows/reusable-sit-execution.yml
      permissions:
        id-token: write
      secrets:
        inherit
      with:
        environment: ${{inputs.environment}}

    undeploy-app:
      name: Undeploy the application
      uses: ./.github/workflows/reusable-manage-deployment.yml
      permissions:
        id-token: write
      secrets:
        inherit
      with:
        action: destroy
        environment: ${{inputs.environment}}