name: Run the SITs against a deployed application

on:
    workflow_dispatch:
        inputs:
            environment:
                type: environment
                required: false
                default: test

jobs:
    execute-sit:
      name: Run the SITs against a deployed application
      runs-on: ubuntu-24.04
      environment: ${{inputs.environment}}
      permissions:
        id-token: write
      steps:

            - name: Show inputs
              run: |
                  echo "environment=${{inputs.environment}}"
