name: Run the SITs against ephemeral infrastructure

on:
    workflow_dispatch:
        inputs:
            environment:
                type: environment
                required: false
                default: test

jobs:
    sit-config:
        name: Get config
        runs-on: ubuntu-24.04
        environment: ${{inputs.environment}}
        steps:
          - name: Determine values
            run: echo "placeholder"